/*Colors
#DDDDDD
#222831
#30475E
#F05454
*/
/*FONTS
font-family: 'Merriweather', serif; 400 900
font-family: 'Ubuntu', sans-serif; 400 700
*/
body {
  font-family: 'Ubuntu'
}

.btn{
  font-family: 'Merriweather';
}

.container-fluid {
  padding: 0 15%;
}

.claro {
  background-color: #DDDDDD;
  color: #222831;
}

.oscuro {
  background-color: #222831;
  color: #DDDDDD;
}

.hide{
  position: absolute;
  display: none;
}

/***********Navegacion ************/
.navegacion {
  padding: 1% 0;
}

.navbar-brand {
  font-family: 'Merriweather', serif;
  font-weight: 900;
}

.nav-link {
  font-family: 'Merriweather', serif;
  margin-left: 1.5rem;
}

.navbar-light .navbar-nav .nlink:hover {
  color: #F05454;
}

.navbar-light .navbar-nav .signin {
  background-color: #222831;
  border-radius: 0.5rem;
  color: #DDDDDD;
  padding: 8px 2rem;
}

.navbar-light .navbar-nav .signin:hover {
  background-color: #F05454;
  color: #DDDDDD;
}

/***********NOSOTROS****************/
.nosotros{
    padding: 4% 0;
}

.imgProgramador{
  width: 100%;
}

.nombre{
  font-family: 'Merriweather', serif;
}

/************CONTACTO*****************/
.contacto{
  padding: 4% 0 2%;
}

.imgBrand{
  width: 60%;
}

.tituloContacto{
  font-family: 'Merriweather', serif;
}
/***********FOOTER***********/
footer {
  padding: 1% 0;
}

/**********************************************QUERY***********************************/

@media (max-width: 1028px){

  /*******************************Navegacion********************************/
  .navbar-brand {
    font-size: 3rem !important;
  }

  .navbar-toggler{
    font-size: 2.5rem;
  }

  .nav-link {
    font-size: 2.5rem !important;
    text-align: right;
  }

  iframe{
    width: 100%;
    height: 24rem;
  }

  /*******************nosotros***********************/
  h5{
    font-size: 2rem;
  }

  h3{
    font-size: 2.2rem;
  }

  h1{
    font-size: 3rem;
  }

  .nombre{
    font-size: 2.8rem;
  }

  .imgProgramador{
    width: 35%;
    position: relative;
    right: 2%
  }

  /************contactanos******************/

  .imgBrand{
    width: 100%;
  }

}
