/*Colors
#DDDDDD
#222831
#30475E
#F05454
*/
/*FONTS
font-family: 'Merriweather', serif; 400 900
font-family: 'Ubuntu', sans-serif; 400 700
*/
body {
  font-family: 'Ubuntu'
}

.btn{
  font-family: 'Merriweather';
}

.container-fluid {
  padding: 0 15%;
}

.claro {
  background-color: #DDDDDD;
  color: #222831;
}

.oscuro {
  background-color: #222831;
  color: #DDDDDD;
}

/***********Navegacion ************/
.navegacion {
  padding: 1% 0;
}

.navbar-brand {
  font-family: 'Merriweather', serif;
  font-weight: 900;
}

.nav-link {
  font-family: 'Merriweather', serif;
  margin-left: 1.5rem;
}

.navbar-light .navbar-nav .nlink:hover {
  color: #F05454;
}

.navbar-light .navbar-nav .signin {
  background-color: #222831;
  border-radius: 0.5rem;
  color: #DDDDDD;
  padding: 8px 2rem;
}

.navbar-light .navbar-nav .signin:hover {
  background-color: #F05454;
  color: #DDDDDD;
}

/**********Descarga*****************/
.descarga {
  padding: 1% 0 2%;
}

.logo {
  width: 60%;
}

.mockup {
  width: 100%;
}

.btn-success {
  color: #DDDDDD;
  background-color: #30475E;
  border-color: #30475E;
}

.btn-success:hover {
  color: #DDDDDD;
  background-color: #222831;
  border-color: #222831;
}

.btn-outline-success {
  color: #F05454;
  border-color: #F05454;
}

.btn-outline-success:hover {
  color: #DDDDDD;
  background-color: #F05454;
  border-color: #F05454;
}

hr {
  margin: 0;
  border-top: 1px solid;
  border-color: #30475E;
  opacity: 0.4;
  background-color: #DDDDDD;
}

/****************Pantalla*****************/
.pantallas {
  padding: 4% 0 7%;
}

.imgPantalla {
  width: 100%;
}

/***************Hardware*******************/
.hardware {
  padding: 2% 0;
}

.imgHardware {
  width: 100%;
}

iframe{
  width: 100%;
  height: 33.2rem;
}

.hidden{
  display: none;
}

/*************precios********************/
.precios {
  padding: 4% 0 7%;
  background-color: #222831;
}

.card {
  background-color: #DDD;
  color: #222831;
}

.btn-primary {
  color: #DDDDDD;
  background-color: #F05454;
  border-color: #F05454;
}

.btn-primary:hover {
  color: #DDDDDD;
  background-color: #BD4242;
  border-color: #BD4242;
}

.btn-outline-primary {
  color: #30475E;
  border-color: #30475E;
}

.btn-outline-primary:hover {
  color: #DDDDDD;
  background-color: #30475E;
  border-color: #30475E;
}

.cardP{
  font-size: 1.1rem;
}

/************SUSCRIBIRME***************/
.suscribirme {
  padding: 5% 0;
}

/***********FOOTER***********/
footer {
  padding: 3% 0;
}

/**********************************************QUERY***********************************/

@media (max-width: 1028px){

  /*******************************Navegacion********************************/
  .navbar-brand {
    font-size: 3rem !important;
  }

  .navbar-toggler{
    font-size: 2.5rem;
  }

  .nav-link {
    font-size: 2.5rem !important;
    text-align: right;
  }

  iframe{
    width: 100%;
    height: 24rem;
  }

  /********************************DESCARGA*******************************/

  .mockup {
    display: none;
  }

  .texto-intro{
    text-align: center;
    margin-top: 2.5rem;
  }

  h2{
    font-size: 3rem;
  }

  h4, .btn{
    font-size: 2.5rem !important;
  }

  h5{
    font-size: 2rem;
  }

  .btn{
    display: block;
    margin-bottom: 1.5rem;
  }

  /****************Pantalla*****************/

  .imgPantalla {
    width: 100%;
  }

  .imgPantalla2{
    width: 50%;
  }

  /*****************HARDWARE***************/

  .imgHardware {
    width: 60%;
    text-align: center;
  }

  .text-hardware{
    text-align: center;
  }

  .hidden-sm{
    display: none;
  }

  .hidden{
    display: block;
  }

  .cont-hardware{
    text-align: center;
  }

  /***************PRECIOS********************/
  .card{
    margin: 1.5rem 0;
    border-radius: 1rem;
    padding: 5% 10%;
  }

  h6, p, .cardP{
    font-size: 2rem;
  }

  .suscribe{
    text-align: left;
  }

  .nueva-linea{
    display: block;
    margin-top: 1rem;
  }

  .me-2, .me-4{
    margin-right: 0 !important;
  }
}
